$--hero-background: #2f303a;
$--main-text-color: #757575;
$--h2-color: #212121;
$--team-section-color: #f5f4fa;
$--blue: #2196f3;
$--black: #000000;
$--hero-title-color: #ffffff;
$--basement: #2f303a;
$--portfolio-border-color: #eeeeee;
$--portfolio-btn-hover-color: #2196f3;
$--portfolio-btn-hover-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$--company-border-color: #afb1b8;
$--clients-border-radius: 4px;
$--backdrop-modal-window-color: rgba(0, 0, 0, 0.2);
$--modal-window-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$--portdolio-backdrop-image: rgba(33, 150, 243, 0.9);
$--default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
